<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Películas enviadas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet">
     <link rel="stylesheet" th:href="@{/estilo.css}" />
</head>
<body>
<nav class="navbar">
        <div class="navbar-container">
         <!--  <div class="navbar-left">
                <h1 class="navbar-title">
			    <span th:text="${usuario.nombre}"></span>
				</h1>
            </div> -->
	        <h2 class="navbar-title" th:if="${modoCompartidas} == null or !${modoCompartidas}">
			    Películas enviadas
			</h2>
            <!-- Volver -->
            <div class="navbar-right">
	            <form th:action="@{/peli/buscar}" method="get">
            		<input type="submit" value="Volver" class="nav-btn">
            	</form>
            </div>
        </div>
    </nav>
<div class="container mt-4">
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>Título</th>
            <th>Amigo</th>
            <th>Valoración receptor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rel : ${relaciones}">
            <td th:text="${rel.pelicula.Title}"></td>
            <td th:text="${rel.receptor.mail}"></td>
            <td>
                <span th:if="${rel.rankingUsuario == 0}">Sin valoración</span>
                <span th:if="${rel.rankingUsuario != 0}"
                      th:text="${rel.rankingUsuario}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <footer class="footer">
        <p>Carolina Moraga Ponce</p>
    </footer>
</body>
</html>
